.download-btn, .login-btn, .menu-btn {
  height: 46px;
  background-color: #1f00d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
      "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  padding: 0 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &::before {
      background-color: initial;
      background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
      border-radius: 125px;
      content: "";
      height: 100%;
      left: 4%;
      opacity: 0.5;
      position: absolute;
      top: 0;
      transition: all 0.3s;
      width: 92%;
  }
 
  &:hover {
      box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
          rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
      transform: scale(1.05);
  }
  &:active {
      transform: translateY(2px);
  }
}


@media (min-width: 1280px) and (max-width:1535px) {
    .download-btn, .login-btn, .menu-btn {
        height: 36px;
        border: 0;
        border-radius: 40px;
        font-size: 14px;
        font-weight: 600;
        padding: 0 15px;
        &::before {
            border-radius: 40px;
        }
        &:active {
            transform: translateY(2px);
        }
      }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .download-btn, .login-btn, .menu-btn {
        height: 32px;
        border: 0;
        border-radius: 40px;
        font-size: 14px;
        font-weight: 600;
        padding: 0 12px;
        &::before {
            border-radius: 150px;
        }
        &:active {
            transform: translateY(2px);
        }
      }
}

@media (min-width: 768px) and (max-width:1023px) {
    .download-btn, .login-btn, .menu-btn {
        height: 48px;
        border: 0;
        border-radius: 9999px;
        font-size: 14px;
        font-weight: 600;
        padding: 0 12px;
        &::before {
            border-radius: 9999px;
        }
        &:active {
            transform: translateY(2px);
        }
      }
}

@media (min-width: 480px) and (max-width: 767px) {
  
}