.wrapper{
    grid-column: span 2 / span 2;
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 10px;
    position: absolute; /* width of the entire scrollbar */
}

.wrapper::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.205); /* color of the tracking area */
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(153, 0, 255); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /* border: 1px solid orange;  creates padding around scroll thumb */
}

.action {
    width: 140px;
    margin-right: -10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f00d0;
    border-radius: 10px;
    font-size: 14px;
    &::before {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
            #ffffffc7 0,
            rgba(255, 255, 255, 0) 100%
        );
        border-radius: 10px;
        content: "";
        opacity: 0.5;
        position: absolute;
        transition: all 0.3s;
    }
    .item2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
       
        &:active {
            transform: translateY(2px);
        }
        
    }
}



@media (min-width: 1280px) and (max-width:1535px) {
    .wrapper{
        font-size: 15px;
    }
    .action {
        margin-right: -5px;
        margin-left: 5px;
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .wrapper{
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
   .wrapper{
      font-size: 14px;
   }
}

@media not all and (min-width: 1023px) {
    .wrapper{
        grid-column: span 3 / span 3;
     }
}