
.container{
    width: 400px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    background-color: white;
    input{
        margin-left: 20px;
        width: 100%;
        background-color: transparent;
    }
    button{
        width: 4rem;
        height: 100%;
        &:hover{
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}



@media (min-width: 1280px) and (max-width:1535px) {
    .container{
        width: 50%;
        height: 36px;
        display: flex;
        font-size: 14px;
        input{
            margin-left: 20px;
            width: 100%;
        }
        button{
            width: 4rem;
        }
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .container{
        width: 50%;
        height: 32px;
        display: flex;
        font-size: 14px;
        input{
            margin-left: 20px;
            width: 100%;
        }
        button{
            width: 4rem;
        }
    }
}

@media (min-width: 768px) and (max-width:1023px) {
   
}

@media (min-width: 0px) and (max-width: 767px) {
    .container{
        width: 80%;
        height: 48px;
        display: flex;
        font-size: 14px;
        input{
            margin-left: 20px;
            width: 100%;
        }
        button{
            width: 4rem;
        }
    }
}